:root {
    /* Colores */
    --light-blue: #D4E6FF;
    --dark-blue: #0053CC;
    --light-orange: #FFE6DB;
    --dark-orange: #E14400;
    --bk-white: #FFFFFF;
    --tx-black: #000000;
    --dark-theme: #272727;
    --yellow:#FFC700;

    --color-green: #00a878;
    --color-red: #fe5e41;
    --color-button: #fdffff;
    --color-black: #000;

    /* Fuentes */
    --font-section: 'Roboto Mono', monospace;
    --font-link: 'Roboto', sans-serif;
    --size-400: 400;
    --size-500: 500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

html {
    font-size: 62.5%;
}

.switch-button {
    display: inline-block;
}

.switch-button .switch-button__checkbox {
    display: none;
}

.switch-button .switch-button__label {
    background-color: var(--light-orange);
    width: 5rem;
    height: 3rem;
    border-radius: 3rem;
    display: inline-block;
    position: relative;
}

.switch-button .switch-button__label:before {
    transition: .2s;
    display: block;
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: var(--color-button);
    content: '';
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 1px var(--color-black);
}

.switch-button .switch-button__checkbox:checked + .switch-button__label {
    background-color: var(--dark-theme);
    border: 1px solid var(--bk-white);
}

.switch-button .switch-button__checkbox:checked + .switch-button__label:before {
    transform: translateX(2rem);
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-title {
    margin-top: 50px;
    margin-bottom: 36px;
    font-family: var(--font-section);
    font-weight: var(--size-500);
    font-size: 2.5rem;
    color: var(--tx-black);
    line-height: 3.3rem;
}

.header-img img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.main {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.main-section-description {
    font-family: var(--font-section);
    font-weight: var(--size-400);
    font-size: 1.6rem;
    color: var(--tx-black);
    line-height: 1.8rem;
    text-align: center;    
}

.main-section-link {    
    margin-top: 40px;    
} 

.main-section-link ul li {
    display: flex;    
    justify-content: center;
    align-items: center;
}

.main-section-link li {
  list-style: none;
} 

.main-section-link ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 42px;    
    margin-bottom: 12px;
    background: var(--light-orange);  
    font-family: var(--font-link);
    font-weight: var(--size-400);
    font-size: 1.2rem;
    color: var(--dark-orange);
    line-height: 1.8rem;
    text-align: center;
    text-decoration: none;    
}

.main-section-link ul li a:hover {
    background-color: var(--light-blue);
    color: var(--dark-blue);
    font-weight: bold;
    border: 2px solid var(--dark-blue);
}

.footer ul {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer ul li {
    margin-right: 24px;
    list-style: none;
}

.footer ul li a img {
    width: 20px;
    height: 20px;
}

/* Dark Theme */
.dark-theme {
    background-color: var(--dark-theme);
    color: var(--bk-white);
}

.dark-theme.main-section-link ul li a {
    background-color: var(--dark-theme);
    color: var(--bk-white);
    border: 2px solid var(--bk-white);
}

.dark-theme.main-section-link ul li a:hover{
    background-color: var(--yellow);
    border: 2px solid var(--yellow);
    color: var(--tx-black);
    font-weight: bold;
}